{{- define "main" -}}


    {{/* Initialise */}}
    {{ $members_key_titles := .Params.members_key_titles }}
    {{ $block := index .Params.sections 0 }}
    {{ $show_social := $block.design.show_social | default false }}
    {{ $show_interests := $block.design.show_interests | default true }}
    {{ $show_organizations := $block.design.show_organizations | default false }}
    {{ $show_role := $block.design.show_role | default true }}

<div class="universal-wrapper people-list-wrap">
  <div class="row ">
      {{ with $block.content.title }}
        <div class="section-heading col-12 mb-3   ">
          <h1 class="mb-0 list-page-h1-heading ">{{ . | markdownify | emojify }}</h1>
            {{ with $block.content.subtitle }}<p class="mt-1">{{ . | markdownify | emojify }}</p>{{ end }}
        </div>
      {{ end }}

      {{ with $block.content.text }}
        <div class="col-12">
            {{ . | safeHTML }}
        </div>
      {{ end }}


    {{ range  $index1, $member := .Params.members }}
      <div class="people-persons-list-row people-person  ">
        {{ $src := "images/design/p-user.jpg" | relURL }}
        {{if .avatar }} {{ $src = $member.avatar | relURL }} {{end}}


          {{ $avatar_shape := site.Params.features.avatar.shape | default "circle" }}
          <div class="person-img ">
            <img width="270" height="270" loading="lazy" class="avatar avatar-square " src="{{ $src }}" alt="Avatar" />
            {{ if $show_social }}
              <div class="p-social-links">
                {{ partial "people_social_links" . }}
              </div>
            {{ end }}
          </div>


        <div class="portrait-title person-desc">


          {{ range $index2, $key := slice "name" "position" "join_date" "research" "email" }}
            <div class="person-attr attr-{{$key}}">
              <div  class="attr-key-name">{{ index $members_key_titles $key | markdownify }}:</div>
              <div class="attr-value1">{{ index $member $key | markdownify }}</div>
            </div>
          {{ end }}



          {{ if $member.work_experience }}
            <div class="person-attr attr-work_experience}">
              <div class="attr-key-name">{{ index $members_key_titles "work_experience" | markdownify }}:</div>
              <div class="attr-value2">
                {{ range $index3, $work_experience := $member.work_experience }}
                  <div class="wp-item">
                    <span class="wp-period">{{ $work_experience.period | markdownify }}</span> |
                    <span class="wp-position">{{ $work_experience.position | markdownify }}</span> |
                    <span class="wp-institution">{{ $work_experience.institution | markdownify }}</span>
                  </div>
                {{ end }}
              </div>
            </div>
          {{ end }}



          {{/*<h4>{{ .Title }}</h4>
          {{ if and $show_role .Params.role }}<h3 class="role-desc">{{ .Params.role | markdownify | emojify }}</h3>{{ end }}
          {{ if and (not $src) $show_social }}<div class="p-social-links">{{ partial "people_social_links" . }}</div>{{ end }}
          {{ if .Content }}<p class="people-interests">{{ .Content | markdownify | emojify }}</p>{{ end }}*/}}
        </div>
      </div>
    {{ end }}

  </div>
</div>




{{- end -}}
